html,
body {
   margin:0;
   padding:0;
   height:100%;
}

main {
  min-height:100%;
  position:relative;
}

.MainSection {
  padding-bottom:80px;
}

.icon_block {
  padding: 0 15px;
}
.icon_block .material_icons {
	font-size: inherit;
}
.section1{
  background:linear-gradient(125deg, #fff, #f3f3f3 41%, #ededed 0, #fff);
  display:block;
}

.section1 img{
  height: 22rem;
}

.p_dona {
  font-weight: 500;
}

.section2 {
  background: hsl(0, 0%, 14.5%);
  color: white;
}

nav a {
  color: black;
}