._1_fRGbuIXGk9cLTOcZygbi {
  padding: 0 15px;
}
._1_fRGbuIXGk9cLTOcZygbi .w0P_h8no2DSiuAjHNAdpZ {
	font-size: inherit;
}
._1J5H15dJSO6tfqAW8pkDqK{
  background:linear-gradient(125deg, #fff, #f3f3f3 41%, #ededed 0, #fff);
  display:block;
}

._1J5H15dJSO6tfqAW8pkDqK img{
  height: 50%;
}

._36C1SgoElJyrYh2yXIlV8s {
  font-weight: 500;
}

._1Si38y_6YVuCN00cYtvDWB {
  background: hsl(0, 0%, 14.5%);
  color: white;
}

nav a {
  color: black;
}.KE9W3OdH6xQ4bvE_SDR3N {
  border-radius: .5em;
  box-shadow: 0 0 .5em black;
  padding: 1em;
  margin: 2em 0;
  transition: all .3s;
}
.KE9W3OdH6xQ4bvE_SDR3N:hover {
  transform: scale(1.01);
}

._3z7q3V-iV6Lqo3wkhbuFCK {
  margin: 0;
}
._3z7q3V-iV6Lqo3wkhbuFCK a {
  color: black;
  text-decoration: none;
}

._21QO-wFIO1yralYTO7p9Kw {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  ._21QO-wFIO1yralYTO7p9Kw {
    flex-direction: column;
  }
  ._21QO-wFIO1yralYTO7p9Kw * {
    margin: .25em 0;
  }
}._1kRDFrg58EHoe7PuJomiS1 {
  border: 1px solid black;
  border-radius: .5em;
  margin: 1em 0;
  padding: 0 .5em;
}

.xi_Nrylord_XxHgm-zOkS {
  margin: .5em 0;
}

._2PE8Mda7FQzJaNudMncfRw {
  margin: .5em 0; 
}nav ul a,
nav .rCru-8v_keeZnvf_qas9_ {
  color: #444;
}

._39gOJvnGZdixJbo-2vFBJa {
  color: brand-logo;
}footer {
  background: hsl(0, 0%, 14.5%) !important;
  color: white;
}