html,
body {
   margin:0;
   padding:0;
   height:100%;
}

main {
  min-height:100%;
  position:relative;
}

.vhIN9-rJWOJYOVF1SBZM1 {
  padding-bottom:109px;
}

._1_fRGbuIXGk9cLTOcZygbi {
  padding: 0 15px;
}
._1_fRGbuIXGk9cLTOcZygbi .w0P_h8no2DSiuAjHNAdpZ {
	font-size: inherit;
}
._1J5H15dJSO6tfqAW8pkDqK{
  background:linear-gradient(125deg, #fff, #f3f3f3 41%, #ededed 0, #fff);
  display:block;
}

._1J5H15dJSO6tfqAW8pkDqK img{
  height: 22rem;
}

._36C1SgoElJyrYh2yXIlV8s {
  font-weight: 500;
}

._1Si38y_6YVuCN00cYtvDWB {
  background: hsl(0, 0%, 14.5%);
  color: white;
}

nav a {
  color: black;
}nav ul a,
nav ul li,
nav .rCru-8v_keeZnvf_qas9_ {
  color: #444;
}

._39gOJvnGZdixJbo-2vFBJa {
  color: brand-logo;
}footer {
  background: hsl(0, 0%, 14.5%) !important;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 109px;
}

footer._1eS9wUVNr3aYTKqQeQunSJ {
  padding-top: 0;
}
