html,
body {
   margin:0;
   padding:0;
   height:100%;
}

main {
  min-height:100%;
  position:relative;
}

._15zbdv0tozwc9y5LLAkuQt {
  padding-bottom:109px;
}

._1xyWgPdu_TBNJo1MYkpBuF {
  padding: 0 15px;
}
._1xyWgPdu_TBNJo1MYkpBuF ._2GyWMtMbgQ7P0yVoa_Q65t {
	font-size: inherit;
}
._1Wdn7uhBISuszHyblsnUuf{
  background:linear-gradient(125deg, #fff, #f3f3f3 41%, #ededed 0, #fff);
  display:block;
}

._1Wdn7uhBISuszHyblsnUuf img{
  height: 22rem;
}

._2ds3lqo3z-960iehtVtq37 {
  font-weight: 500;
}

.-m2EGIi-6qWN9mvwjGpU- {
  background: hsl(0, 0%, 14.5%);
  color: white;
}

nav a {
  color: black;
}* { box-sizing: border-box; }

._3Re-c7H_wP6NcZBusem5DW{
  display: flex;
  pointer-events: none; 
}

iframe {
  width: 100vw;
  height: calc(100vw/1.8);
}
._2HmNBlw2Cl3UTJHZWn_7jk {
  margin: 25px;
  width: 80%;
  min-width: 210px;
  max-width: 210px;
  height: 42px;
  background-color: #fcfcfc;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
  cursor: pointer;
  cursor: hand;
  align-self: center;
  user-select: none;
  transition: all 400ms ease 0s;
  display: flex;
}
._2HmNBlw2Cl3UTJHZWn_7jk ._5atAqVtWkU9sogDqqfdal {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  user-select: none
}
._2HmNBlw2Cl3UTJHZWn_7jk .SFVx8NdLhhD4fgtUcCvIP {
  position: absolute;
  margin-top: 4px;
  margin-left: 4px;
  width: 32px;
  height: 32px;
  user-select: none
}
._2HmNBlw2Cl3UTJHZWn_7jk ._2KKEV28HtUdzgpF9pASnpX {
  float: right;
  margin: 11px 14px 40px 45px;
  color: #757575;
  font-size: 14px;
  letter-spacing: .2px;
  font-family: Roboto;
  user-select: none
}
._2HmNBlw2Cl3UTJHZWn_7jk:hover {
  box-shadow: 0 3px 8px rgba(117, 117, 117, .5);
  user-select: none
}
._2HmNBlw2Cl3UTJHZWn_7jk:active {
  box-shadow: 0 1px 1px #757575;
  background: #F8F8F8;
  color: #fff;
  user-select: none
}._2uawPTLy14C-SR-_G45Kxt {
  /*background: #3498db;*/
  /*width: 280px;*/
  width: 100%;
  padding: 40px 0 20px;
  color: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
._2uawPTLy14C-SR-_G45Kxt ._3wkkmNyQCnUW7BeDi6wZ9g {
  background: #fff;
  /* IE Fall */
  background: rgba(255, 255, 255, 0.2);
  display: block;
  width: 90px;
  height: 90px;
  margin: 0 auto;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  font-size: 36px;
  line-height: 90px;
  text-align: center;
}
._2uawPTLy14C-SR-_G45Kxt ._2APPrkqg8UgeNEHBkIAKZS {
  cursor: pointer;
  margin: 40px 0 0;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

._2uawPTLy14C-SR-_G45Kxt ._3NKMi5s7Fi1f1GmFUZFHdK ._32HqMb03yJQxSQOFOAa6iC {
  background: #eee;
  padding: 10px;
  color: #666;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}
._2uawPTLy14C-SR-_G45Kxt ._3NKMi5s7Fi1f1GmFUZFHdK ul {
  list-style: none;
  background: #fff;
  margin: 0;
  padding: 0;
  color: #666;
  font-size: 14px;
}
._2uawPTLy14C-SR-_G45Kxt ._3NKMi5s7Fi1f1GmFUZFHdK ul li {
  padding: 10px 20px;
}
._2uawPTLy14C-SR-_G45Kxt ._3NKMi5s7Fi1f1GmFUZFHdK ul li:nth-child(2n) {
  background: #f3f3f3;
}
._2uawPTLy14C-SR-_G45Kxt ._3NKMi5s7Fi1f1GmFUZFHdK ul li ._1DhXi6nHxhYaor7n1LKamt {
  width: 16px;
  margin-right: 10px;
  text-align: center;
}

._2uawPTLy14C-SR-_G45Kxt ._3NKMi5s7Fi1f1GmFUZFHdK a {
  display: block;
  max-width: 100px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 15px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
._2uawPTLy14C-SR-_G45Kxt ._3NKMi5s7Fi1f1GmFUZFHdK a:hover {
  background: #34495e !important;
  /* IE Fallback */
  background: rgba(52, 73, 94, 0.7) !important;
}
nav ul a,
nav ul li,
nav ._3RSfhGQ5lroMItmJ-wbuN3 {
  color: #444;
  padding-left: 1rem;
}

.EQ5qsAZaELTJ4jAeSX2L2 {
  color: brand-logo;
}

._3RSfhGQ5lroMItmJ-wbuN3 img {
  height: 100%;
}

._3RSfhGQ5lroMItmJ-wbuN3 span {
  vertical-align: top;
}._1m2dWNiV8oAzMwTfaTT6bX {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
footer {
  background: hsl(0, 0%, 14.5%) !important;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 109px;
}

footer._1194ERoD2Jm6kAx3s4NgTH {
  padding-top: 0;
}
